<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <title>Result Download Links</title>
    </head>
   <body>
        {% if result.streamcloud_links %}
        <h1>Streamcloud Download Links</h1>

            {% for filename, url in result.streamcloud_links.items() %}
                <h5> {{ filename }} </h5>
                <form action="/download" method="post">
                    <input type="hidden" name="URL" value={{ url }}/>
                    <input type="hidden" name="filename" value='{{ filename }}'/>
                    <input type="submit" value=Download />
                </form>

            {% endfor %}
        {% endif %}
        {% if result.streamcloud_errors %}
            <h1>Faulty Streamcloud Links</h1>
            {% for download_error in result.streamcloud_errors %}
                <div> {{ download_error }} </div>
            {% endfor %}
        {% endif %}

        {% if result.hdvid_links %}
        <h1>HDVid Download Links</h1>

            {% for filename, url in result.hdvid_links.items() %}
                <h5> {{ filename }} </h5>
                <form action="/download" method="post">
                    <input type="hidden" name="URL" value={{ url }}/>
                    <input type="hidden" name="filename" value='{{ filename }}'/>
                    <input type="submit" value=Download />
                </form>

            {% endfor %}
        {% endif %}
        {% if result.hdvid_errors %}
            <h1>Faulty HDVid Links</h1>
            {% for download_error in result.hdvid_errors %}
                <div> {{ download_error }} </div>
            {% endfor %}
        {% endif %}

        {% if result.vidzi_links %}
        <h1>Vidzi Download Links</h1>

            {% for filename, url in result.vidzi_links.items() %}
                <h5> {{ filename }} </h5>
                <form action="/download" method="post">
                    <input type="hidden" name="URL" value={{ url }}/>
                    <input type="hidden" name="filename" value='{{ filename }}'/>
                    <input type="submit" value=Download />
                </form>

            {% endfor %}
        {% endif %}
        {% if result.vidzi_errors %}
            <h1>Faulty Vidzi Links</h1>
            {% for download_error in result.vidzi_errors %}
                <div> {{ download_error }} </div>
            {% endfor %}
        {% endif %}

        {% if result.streaminto_links %}
        <h1>StreaminTo Download Links</h1>

            {% for filename, url in result.streaminto_links.items() %}
                <h5> {{ filename }} </h5>
                <form action="/download" method="post">
                    <input type="hidden" name="URL" value={{ url }}/>
                    <input type="hidden" name="filename" value='{{ filename }}'/>
                    <input type="submit" value=Download />
                </form>

            {% endfor %}
        {% endif %}
        {% if result.streaminto_errors %}
            <h1>Faulty StreaminTo Links</h1>
            {% for download_error in result.streaminto_errors %}
                <div> {{ download_error }} </div>
            {% endfor %}
        {% endif %}
   </body>
</html>
